<nav class="header navbar navbar-light d-md-none">
    <div class="container-fluid">
        <label name="open" for="source-mob"
               class="source-mob btn btn-outline-dark navbar-btn">
            <span class="glyphicon glyphicon-floppy-open"></span>
            <input id="source-mob" type="file" style="display: none;"
                   accept=".md,application/markdown">
        </label>
        <a name="save" href="#"
           class="btn btn-outline-dark navbar-btn">
            <span class="glyphicon glyphicon-floppy-save"></span>
        </a>
        <button name="swap" type="button"
                class="btn btn-outline-dark navbar-btn"
                style="width: calc(100% - 136px)">
            <span class="glyphicon glyphicon-transfer"></span>
        </button>
        <button name="publish" type="button"
                class="btn btn-outline-dark navbar-btn"
                data-toggle="modal" data-target="#publish-dlg">
            <span class="glyphicon glyphicon-cloud-upload"></span>
        </button>
    </div>
</nav>
