<nav class="header navbar navbar-default hidden-md hidden-lg">
    <div class="container-fluid">
        <button name="publish" type="button"
                class="btn btn-default navbar-btn"
                data-toggle="modal" data-target="#publish-dlg">
            <span class="glyphicon glyphicon-cloud-upload"></span>
        </button>
        <button name="swap" type="button"
                class="btn btn-default navbar-btn"
                style="width: calc(100% - 136px)">
            <span class="glyphicon glyphicon-transfer"></span>
        </button>
        <label name="open" for="source-mob"
               class="source-mob btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-floppy-open"></span>
            <input id="source-mob" type="file" style="display: none;">
        </label>
        <a name="save" href="#"
           class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-floppy-save"></span>
        </a>
    </div>
</nav>
