{% extends "index.html" %}
{% block title %}
<title>{{ domain|capitalize }}&nbsp;·&nbsp;Markdown Editor</title>
{% endblock %}

{% block head %}
{% if debug %}
<link href="/static/css/app/font.css" rel="stylesheet">
<link href="/static/css/app/editor.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block body %}
{% include 'editor/0000-dialog/0001-publish.html' %}
{% include 'components/dlg-template/index.html' %}
{% include 'components/nav-header/index.html' %}
{% include 'editor/0200-center/0200-center.html' %}
{% endblock %}
