{% extends "index.html" %}
{% block title %}
<title>{{ domain|capitalize }}&nbsp;·&nbsp;MD Editor</title>
{% endblock %}

{% block head %}
{% if debug %}
<link href="/static/css/app/editor.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block body %}
{% include 'editor/0100-header.html' %}
{% include 'editor/0200-center.html' %}
{% endblock %}

{% block script_mjx %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']], displayMath: [['$$','$$']]}, TeX: {equationNumbers: {autoNumber: "AMS"}}, asciimath2jax: {delimiters: [['\{\{','\}\}']]}, processEscapes: true, processSectionDelay: 0});</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
{% endblock %}
