<!DOCTYPE html>
{% block html_all %}<html>
    {% block head_all %}<head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="{{ keywords|join(',') }}"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        {% block title %}<title>{{ title }}</title>{% endblock %}
        <script>window.debug = Boolean({{ 1 if debug else 0 }});</script>
        {% if debug %}
        <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap-3.3.6.min.css">
        <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap-theme-3.3.6.min.css">
        <link rel="stylesheet" href="/static/css/lib/highlight/default-9.13.1.min.css">
        <link rel="stylesheet" href="/static/js/lib/codemirror.lib/codemirror.css">
        {% else %}
        <link rel="stylesheet" href="/static/build/all.css">
        {% endif %}
        {% block head %}{% endblock %}
    </head>{% endblock %}
    {% block body_all %}<body>
        {% block body %}{% endblock %}
        {% block script_all %}
        {% if debug %}
        <script src="/static/js/lib/jquery/jquery-2.2.4.min.js"></script>
        <script src="/static/js/lib/jquery/jquery.set-cursor-position-2.2.4.min.js"></script>
        <script src="/static/js/lib/bootstrap/bootstrap-3.3.6.min.js"></script>
        <script src="/static/js/lib/highlight/highlight-9.13.1.min.js"></script>
        <script src="/static/js/lib/iscroll/iscroll-5.2.0.min.js"></script>
        <script src="/static/js/lib/typo/typo-1.1.0.min.js"></script>
        <script src="/node_modules/markdown-it/dist/markdown-it.min.js"></script>
        <script src="/node_modules/markdown-it-abbr/dist/markdown-it-abbr.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-anchor-2.5.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-decorate-1.2.1.min.js"></script>
        <script src="/node_modules/markdown-it-emoji/dist/markdown-it-emoji.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-figure-0.3.2.min.js"></script>
        <script src="/node_modules/markdown-it-footnote/dist/markdown-it-footnote.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-mark-2.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-math-4.0.1.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-sub-2.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-sup-2.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-video-0.4.0.min.js"></script>
        <script src="/static/js/lib/codemirror.lib/codemirror.js"></script>
        <script src="/static/js/lib/codemirror/addon/display/placeholder.js"></script>
        <script src="/static/js/lib/codemirror/addon/edit/matchbrackets.js"></script>
        <script src="/static/js/lib/codemirror/addon/mode/multiplex.js"></script>
        <script src="/static/js/lib/codemirror/addon/mode/overlay.js"></script>
        <script src="/static/js/lib/codemirror/addon/mode/simple.js"></script>
        <script src="/static/js/lib/codemirror/addon/search/searchcursor.js"></script>
        <script src="/static/js/lib/codemirror/addon/selection/active-line.js"></script>
        <script src="/static/js/lib/codemirror/mode/clike/clike.js"></script>
        <script src="/static/js/lib/codemirror/mode/cmake/cmake.js"></script>
        <script src="/static/js/lib/codemirror/mode/css/css.js"></script>
        <script src="/static/js/lib/codemirror/mode/dockerfile/dockerfile.js"></script>
        <script src="/static/js/lib/codemirror/mode/erlang/erlang.js"></script>
        <script src="/static/js/lib/codemirror/mode/fortran/fortran.js"></script>
        <script src="/static/js/lib/codemirror/mode/go/go.js"></script>
        <script src="/static/js/lib/codemirror/mode/haskell/haskell.js"></script>
        <script src="/static/js/lib/codemirror/mode/http/http.js"></script>
        <script src="/static/js/lib/codemirror/mode/javascript/javascript.js"></script>
        <script src="/static/js/lib/codemirror/mode/jinja2/jinja2.js"></script>
        <script src="/static/js/lib/codemirror/mode/julia/julia.js"></script>
        <script src="/static/js/lib/codemirror/mode/lua/lua.js"></script>
        <script src="/static/js/lib/codemirror/mode/markdown/markdown.js"></script>
        <script src="/static/js/lib/codemirror/mode/gfm/gfm.js"></script>
        <script src="/static/js/lib/codemirror/mode/mathematica/mathematica.js"></script>
        <script src="/static/js/lib/codemirror/mode/mllike/mllike.js"></script>
        <script src="/static/js/lib/codemirror/mode/nginx/nginx.js"></script>
        <script src="/static/js/lib/codemirror/mode/octave/octave.js"></script>
        <script src="/static/js/lib/codemirror/mode/perl/perl.js"></script>
        <script src="/static/js/lib/codemirror/mode/php/php.js"></script>
        <script src="/static/js/lib/codemirror/mode/python/python.js"></script>
        <script src="/static/js/lib/codemirror/mode/r/r.js"></script>
        <script src="/static/js/lib/codemirror/mode/rst/rst.js"></script>
        <script src="/static/js/lib/codemirror/mode/sass/sass.js"></script>
        <script src="/static/js/lib/codemirror/mode/sql/sql.js"></script>
        <script src="/static/js/lib/codemirror/mode/stex/stex.js"></script>
        <script src="/static/js/lib/codemirror/mode/swift/swift.js"></script>
        <script src="/static/js/lib/codemirror/mode/spreadsheet/spreadsheet.js"></script>
        <script src="/static/js/lib/codemirror/mode/xml/xml.js"></script>
        <script src="/static/js/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>
        <script src="/static/js/lib/codemirror/mode/yaml/yaml.js"></script>
        <script src="/static/js/lib/codemirror/mode/vb/vb.js"></script>
        <script src="/static/js/lib/codemirror/mode/vbscript/vbscript.js"></script>
        <script src="/static/js/lib/require/require-2.3.6.min.js"
                data-main="/static/js/app/app.js"></script>
        {% else %}
        <script src="/static/build/all.js"
                data-main="/static/js/app/app.js"></script>
        {% endif %}

        {% block script_mjx %}
        {% endblock %}
        {% endblock %}
    </body>{% endblock %}
</html>{% endblock %}
