<!DOCTYPE html>
{% block html_all %}<html>
    {% block head_all %}<head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="{{ keywords|join(',') }}"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="46cl9mCwHvQF-eknr6P4mTnvfwiTNxROht6iZq8YbVA"/>
        <meta name="google-site-verification" content="tlrgVurvCvgWLUaEoJ28smxqUR_BasvUV96moKl8T_g"/>
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        {% block title %}<title>{{ title }}</title>{% endblock %}
        {% if debug %}
        <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap-3.3.6.min.css">
        <link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap-theme-3.3.6.min.css">
        <link rel="stylesheet" href="/static/css/lib/highlight/default-9.2.0.min.css">
        {% else %}
        <link rel="stylesheet" href="/static/css/all.tmp.css">
        {% endif %}
        {% block head %}{% endblock %}
    </head>{% endblock %}
    {% block body_all %}<body>
        {% block body %}{% endblock %}
        {% block script_all %}
        {% if debug %}
        <!-- /static/js/lib -->
        <script src="/static/js/lib/jquery/jquery-1.12.1.min.js"></script>
        <script src="/static/js/lib/jquery/jquery.set-cursor-position-1.12.1.min.js"></script>
        <script src="/static/js/lib/bootstrap/bootstrap-3.3.6.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-6.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-abbr-1.0.3.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-anchor-2.5.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-center-text-1.0.3.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-emoji-1.1.1.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-decorate-1.2.1.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-figure-0.2.3.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-footnote-2.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-mark-2.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-math-3.0.2.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-sub-1.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-sup-1.0.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-table-of-contents-0.2.0.min.js"></script>
        <script src="/static/js/lib/markdown-it/markdown-it-video-0.2.1.min.js"></script>
        <script src="/static/js/lib/highlight/highlight-9.2.0.min.js"></script>
        <!-- /static/js/app -->
        <script src="/static/js/lib/require/require-2.2.0.js"
                data-main="/static/js/app/app.js">
        </script>
        {% else %}
        <script src="/static/js/all.tmp.js"></script>
        {% endif %}

        {% block script_mjx %}
        {% endblock %}
        {% endblock %}
    </body>{% endblock %}
</html>{% endblock %}
