<!DOCTYPE html>
{% block html_all %}
<html lang="en">
    {% block head_all %}
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="{{ keywords|join(',') }}"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" href="/static/ico/favicon.ico"/>
        {% block title %}<title>{{ title }}</title>{% endblock %}
        <script>window.debug = Boolean({{ 1 if debug else 0 }});</script>
        {% if not debug %}{% include 'analytics.html' %}{% endif %}
        {% block head %}{% endblock %}
    </head>
    {% endblock %}
    {% block body_all %}
    <body>
        {% block body %}{% endblock %}
    </body>
    {% endblock %}
</html>
{% endblock %}
