<div class="lhs-toolbar toolbar d-none d-md-block">
    <style scoped>{% include 'components/lhs-toolbar/index.css' %}</style>
    <div class="toolbar-outer">
        <div class="toolbar-inner">
            <div class="btn-group-vertical" role="group">
                <label name="open" for="source-bar"
                       class="btn btn-outline-dark source-bar"
                       data-container="body" data-toggle="tooltip"
                       data-placement="right" title="Open [CTRL+O]" style="margin: 0"
                    >
                    <span class="glyphicon glyphicon-floppy-open"></span>
                    <input id="source-bar" type="file" style="display: none;"
                           accept=".md,application/markdown">
                </label>
                <a name="save" href="#"
                   class="btn btn-outline-dark"
                   data-container="body" data-toggle="tooltip"
                   data-placement="right" title="Save [CTRL+S]"
                   >
                   <span class="glyphicon glyphicon-floppy-save"></span>
                </a>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Undo [CTRL+Z]">
                    <span class="glyphicon glyphicon-repeat undo"
                          style="transform: scale(-1,1);"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Redo [CTRL+SHIFT+Z]">
                    <span class="glyphicon glyphicon-repeat redo"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Cut [CTRL+X]">
                    <span class="glyphicon glyphicon-scissors"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Copy [CTRL+C]">
                    <span class="glyphicon glyphicon-copy"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Paste [CTRL+V]">
                    <span class="glyphicon glyphicon-paste"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Delete [DEL]">
                    <span class="glyphicon glyphicon-erase"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Heading [CTRL+H]">
                    <span class="glyphicon glyphicon-header"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Bold [CTRL+B]">
                    <span class="glyphicon glyphicon-bold"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Italic [CTRL+I]">
                    <span class="glyphicon glyphicon-italic"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Code [CTRL+M]">
                    <span class="glyphicon glyphicon-font"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Link [ALT, SHIFT]">
                    <span class="glyphicon glyphicon-link"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Image [ALT, SHIFT]">
                    <span class="glyphicon glyphicon-picture"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Video [ALT, SHIFT]">
                    <span class="glyphicon glyphicon-film"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Indent">
                    <span class="glyphicon glyphicon-indent-left"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Outdent">
                    <span class="glyphicon glyphicon-indent-right"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Math [ALT]"
                        style="height: 38px; width: 42px;">
                    <span class="glyphicon symbol" style="left: 2px; top: 3px; transform: scaleX(1) scaleY(-1);">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" role="img" focusable="false" viewBox="0 0 1444 1400">
                            <defs><path id="DOLLAR" d="M162 187Q162 164 146 149T109 133H103V130Q108 115 115 105Q122 92 131 82T150 64T170 52T190 44T206 40T220 37L227 36V313Q190 320 162 335Q116 358 86 404T55 508Q55 567 85 614T165 685Q186 696 225 704H227V750H273V704L286 703Q369 690 413 631Q441 588 444 531Q444 514 443 509Q439 490 425 479T391 468Q368 468 353 483T337 522Q337 546 353 560T390 575L394 576V578Q386 599 372 614T342 637T314 649T288 656L273 658V408L288 405Q329 394 355 376Q396 348 420 300T444 199Q444 130 408 76T313 1Q286 -9 276 -9H273V-56H227V-10H221Q202 -6 193 -4T155 11T108 41T74 94T55 176V182Q55 227 95 238Q103 240 108 240Q129 240 145 226T162 187ZM225 657Q219 657 204 651T169 632T135 594T121 538Q121 512 131 491T156 457T187 435T213 423T227 420V539Q227 657 225 657ZM378 169Q378 230 339 265T274 301Q273 301 273 169V37Q324 50 351 87T378 169Z"></path></defs>
                            <g stroke="currentColor" fill="currentColor" stroke-width="0" transform="scale(2 2)"><g data-mml-node="math"><g data-mml-node="mo"><use xlink:href="#DOLLAR"></use></g></g></g>
                        </svg>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Sum [ALT]"
                        style="height: 38px; width: 42px;">
                    <span class="glyphicon sum" style="left: -1px; top: 4px; transform: scale(-1) rotate(180deg);">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" role="img" focusable="false" viewBox="0 0 1444 1400">
                            <defs><path id="SIGMA" d="M666 247Q664 244 652 126T638 4V0H351Q131 0 95 0T57 5V6Q54 12 57 17L73 36Q89 54 121 90T182 159L305 299L56 644L55 658Q55 677 60 681Q63 683 351 683H638V679Q640 674 652 564T666 447V443H626V447Q618 505 604 543T559 605Q529 626 478 631T333 637H294H189L293 494Q314 465 345 422Q400 346 400 340Q400 338 399 337L154 57Q407 57 428 58Q476 60 508 68T551 83T575 103Q595 125 608 162T624 225L626 251H666V247Z"></path></defs>
                            <g stroke="currentColor" fill="currentColor" stroke-width="0" transform="scale(2 2)"><g data-mml-node="math"><g data-mml-node="mo"><use xlink:href="#SIGMA"></use></g></g></g>
                        </svg>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Product [ALT]"
                        style="height: 38px; width: 42px;">
                    <span class="glyphicon product" style="left: -1px; top: 2px; transform: scale(1) rotate(180deg);">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" role="img" focusable="false" viewBox="0 0 1444 1400">
                            <defs><path id="PI" d="M128 619Q121 626 117 628T101 631T58 634H25V680H724V634H691Q651 633 640 631T622 619V61Q628 51 639 49T691 46H724V0H713Q692 3 569 3Q434 3 425 0H414V46H447Q489 47 498 49T517 61V634H232V348L233 61Q239 51 250 49T302 46H335V0H324Q303 3 180 3Q45 3 36 0H25V46H58Q100 47 109 49T128 61V619Z"></path></defs>
                            <g stroke="currentColor" fill="currentColor" stroke-width="0" transform="scale(2 2)"><g data-mml-node="math"><g data-mml-node="mo"><use xlink:href="#PI"></use></g></g></g>
                        </svg>
                    </span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Integral [ALT]"
                        style="height: 38px; width: 42px;">
                    <span class="glyphicon integral" style="left: -1px; top: -6px; transform: scaleX(-1) scaleY(1) rotate(180deg)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="2em" role="img" focusable="false" viewBox="0 0 1444 1400">
                            <defs><path id="INTEGRAL" d="M113 -244Q113 -246 119 -251T139 -263T167 -269Q186 -269 199 -260Q220 -247 232 -218T251 -133T262 -15T276 155T297 367Q300 390 305 438T314 512T325 580T340 647T361 703T390 751T428 784T479 804Q481 804 488 804T501 805Q552 802 581 769T610 695Q610 669 594 657T561 645Q542 645 527 658T512 694Q512 705 516 714T526 729T538 737T548 742L552 743Q552 745 545 751T525 762T498 768Q475 768 460 756T434 716T418 652T407 559T398 444T387 300T369 133Q349 -38 337 -102T303 -207Q256 -306 169 -306Q119 -306 87 -272T55 -196Q55 -170 71 -158T104 -146Q123 -146 138 -159T153 -195Q153 -206 149 -215T139 -230T127 -238T117 -242L113 -244Z"></path></defs>
                            <g stroke="currentColor" fill="currentColor" stroke-width="0" transform="scale(2 2)"><g data-mml-node="math"><g data-mml-node="mo"><use xlink:href="#INTEGRAL"></use></g></g></g>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Superscript">
                    <span class="glyphicon glyphicon-superscript"></span>
                </button>
                <button type="button" class="btn btn-outline-dark"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Subscript">
                    <span class="glyphicon glyphicon-subscript"></span>
                </button>
            </div>
        </div>
    </div>
</div>
