#template-dlg {
    a {
        p {
            color: black;
        }
    }
    a.active {
        p {
            color: white;
        }
        color: white;
    }
    a:hover {
        text-decoration: none;
    }
}