<div id="template-dlg" class="modal fade" role="dialog" tabindex="-1">
    <style scoped>{% include 'components/dlg-template/index.css' %}</style>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Document Template</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" data-tpl="1-column" class="list-group-item active">
                        <h4 class="list-group-item-heading">Maximum Columns of 1</h4>
                        <p class="list-group-item-text" style="text-align: justify;">
                            A template which will render the content with at maximum 1 column, independent
                            of the screen available. For print, also number of columns will also be always 1.
                        </p>
                    </a>
                    <a href="#" data-tpl="2-column" class="list-group-item">
                        <h4 class="list-group-item-heading">Maximum Columns of 2</h4>
                        <p class="list-group-item-text" style="text-align: justify;">
                            A template which will render the content with at maximum 2 columns, depending
                            on the screen width available. For print, the number of columns will always be 2.
                        </p>
                    </a>
                    <a href="#" data-tpl="3-column" class="list-group-item">
                        <h4 class="list-group-item-heading">Maximum Columns of 3</h4>
                        <p class="list-group-item-text" style="text-align: justify;">
                            A template which will render the content with at maximum 3 columns, depending
                            on the screen width available. For print, the number of columns will always be 3.
                        </p>
                    </a>
                    <a href="#" data-tpl="empty" class="list-group-item">
                        <h4 class="list-group-item-heading">Empty Template</h4>
                        <p class="list-group-item-text" style="text-align: justify;">
                            A template, which is bare minimum without any predefined styling at all.
                        </p>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
