# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

.idea

# virtualenv

/bin
/include
/lib
/share

# setuptools

/build
/dist
/*.egg-info

## pip

pip-selfcheck.json

## css

static/css/home.css
static/css/home.css.map

# private

run-dev.sh
run-pro.sh

## minified

static/css/**/*.css
static/css/**/*.css.map
static/css/**/*.css.gz
static/js/**/*.js.map
static/js/**/*.js.gz
static/js/all.tmp.js
static/js/all.tmp.js.gz

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# temporary files ##############################################################
# ------------------------------------------------------------------------------

*~
*.swp

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.log.*
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
