# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

.vscode

# virtualenv

/bin
/include
/lib
/share

# setuptools

/build
/dist
/local
/*.egg-info

## pip

pip-selfcheck.json

## minified

static/css/**/*.css
static/css/**/*.css.map
static/css/**/*.css.gz

## javascript

static/js/app/**/*.js
static/js/app/**/*.js.map
static/js/app/**/*.js.gz

## node

node_modules

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# temporary files ##############################################################
# ------------------------------------------------------------------------------

*~
*.swp

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.log.*
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
