 iframe.viewer {
    @media (max-width: 767px) {
        width: calc(100%);
    }
    @media (min-width: 768px) {
        width: calc(100% - 48px);
    }
    height: 100%;
}
iframe.viewer {
    border-left: 4px double #e7e7e7;
    box-shadow: inset 0 0 8px #e7e7e7;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
}
