{% extends "index.html" %}
{% block title %}
<title>{{ domain|capitalize }}&nbsp;·&nbsp;Home</title>
{% endblock %}

{% block head %}
<link href="/static/css/app/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'home/0100-header.html' %}
{% include 'home/0200-center.html' %}
{# include 'home/0900-footer.html' #}
{% endblock %}

{% block script_lib %}
<!-- MathJax: latest -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    asciimath2jax: {
        delimiters: [['\{\{','\}\}']]
    },
    tex2jax: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']]
    },
    processSectionDelay: 0
});
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" async></script>

<!-- Highlight: 9.20 -->
<link rel="stylesheet" href="/static/css/lib/highlight/default-9.2.0.min.css">
<script src="/static/js/lib/highlight/highlight-9.2.0.min.js"></script>

<!-- Markdown It: 6.0.0 -->
<script src="/static/js/lib/markdown-it/markdown-it-6.0.0.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-abbr-1.0.3.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-footnote-2.0.0.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-mark-2.0.0.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-math-3.0.2.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-sub-1.0.0.min.js"></script>
<script src="/static/js/lib/markdown-it/markdown-it-sup-1.0.0.min.js"></script>

<!-- jQuery.setCursorPosition: 1.12.1 -->
<script src="/static/js/lib/jquery/jquery.set-cursor-position-1.12.1.min.js"></script>
{% endblock %}

{% block script_app %}
<script src="/static/js/app/function/assert.js"></script>
<script src="/static/js/app/function/buffered.js"></script>
<script src="/static/js/app/function/mine.js"></script>
<script src="/static/js/app/function/partial.js"></script>
<script src="/static/js/app/function/random.js"></script>
<script src="/static/js/app/function/with.js"></script>
<script src="/static/js/app/cookie/cookie.js"></script>
<script src="/static/js/app/app.js"></script>
{% endblock %}
