{% extends "index.html" %}
{% block title %}
<title>{{ domain|capitalize }}&nbsp;·&nbsp;Home</title>
{% endblock %}

{% block head %}
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'home/0100-header.html' %}
{% include 'home/0200-center.html' %}
{% include 'home/0900-footer.html' %}
{% endblock %}

{% block script_lib %}
<!-- MathJax: latest -->
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['[[',']]']]}});</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" async></script>

<!-- Highlight: 9.20 -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>

<!-- Marked: 0.3.5 (with MathJax patch) -->
<script src="/static/js/lib/marked/marked-0.3.5.min.js"></script>
{% endblock %}

{% block script_app %}
<script src="/static/js/app/function/assert.js"></script>
<script src="/static/js/app/function/buffered.js"></script>
<script src="/static/js/app/function/mine.js"></script>
<script src="/static/js/app/function/partial.js"></script>
<script src="/static/js/app/function/random.js"></script>
<script src="/static/js/app/function/with.js"></script>
<script src="/static/js/app/app.js"></script>
{% endblock %}
