#spell-checker-menu > span.spin {
    color: #ddd;
    font-size: 3em;
    left: calc(50% - 0.5em);
    position: absolute;
    top: calc(50% - 0.5em);
}

#spell-checker-menu > span.spin {
    text-shadow: 0 0 1em;
}
