ul#spell-checker-menu > span.spin {
    color: #ddd;
    font-size: 3em;
    left: calc(50% - 0.5em);
    position: absolute;
    top: calc(50% - 0.5em);
}
ul#spell-checker-menu > span.spin {
    text-shadow: 0 0 1em;
}
ul#spell-checker-menu {
    li:active {
        a {
            color: white;
        }
    }
    li:hover {
        cursor: pointer;
    }
    li {
        a:active {
            color: white;
        }
        a:hover {
            text-decoration: none;
        }
        a {
            img {
                float: right;
                margin-top: 10px;
            }
            span.line1,
            span.country {
                display: inline-block;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                top: 3px;
                white-space: nowrap;
                width: 10em;
            }
            span.line2,
            span.language {
                font-size: smaller;
                position: relative;
                top: -7px;
            }
            color: black;
        }
        max-height: 56px;
    }
    height: 308px;
    overflow: hidden;
    overflow-y: scroll;
    user-select: none;
    width: 260px;
}
