/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html,
body {
    height: 100%;
    width: 100%;
}

/* ============================================================================
 * Content:
 * ========================================================================= */

#content {
    margin: 1em auto;
    max-width: 1240px;
    min-height: calc(100% - 160px);
    font-family: Habibi, serif;
}

#content > h2 {
    font-weight: bold;
    margin-top: 1em;
    text-align: center;
}

table#nfts {
    min-width: 41%;
}

table#nfts p {
    display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#nfts {
    tr.wallet-mm td {
        text-align: center;
    }
    tr.wallet-mm td .btn-group {
        width: 100%;
    }
    tr.wallet-mm td button.lhs {
        max-width: 54px;
    }
    tr.wallet-mm td button.rhs {
        max-width: 54px;
    }
    tr#wallet-network-wrong td button.lhs,
    tr#wallet-network-wrong td button.mid {
        pointer-events: all !important;
        cursor: not-allowed;
    }
}

table#nfts {
    th.col-1st, td.col-1st {
        width: 2em;
    }
    th.col-2nd, td.col-2nd {
        max-width: 10em;
    }
    th.col-3rd, td.col-3rd {
        width: 2em;
    }
    td.col-3rd {
        border-left: 3px double rgb(222, 226, 230);
    }
    tr.nft-extra table {
        td.col-3rd {
            border-top: none;
        }
    }
    a.qr-code > img {
        background-color: white;
        border: 1px solid rgb(52, 58, 64);
        border-radius: 0.2rem;
    }
    margin: 1em auto;
    max-width: calc(67% - 2em);
}

@media (max-width: 767.98px) {
    table#nfts {
        max-width: calc(100% - 2em);
    }
}

/* ============================================================================
 * Popover dialogs:
 * ========================================================================= */

 .popover {
    .popover-header {
      text-align: center;
    }
    .popover-body {
      text-align: justify;
    }
  }

  /* ========================================================================= */
