{% extends 'index.html' %}
{% block title %}
<title>{{ domain|capitalize }}&nbsp;·&nbsp;{{ title }}</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/lib/fonts/glyphicons.css" />
<link rel="stylesheet" href="/static/css/lib/bootstrap/bootstrap-4.5.0.min.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Habibi&display=swap" />
{% endblock %}

{% block body %}
<style scoped>{% include 'nfts/index.css' %}</style>
{% block header %}
{% include 'header/index.html' %}
{% endblock %}
{% block content %}
<div id="content">
    <div class="table-responsive">
        <table id="nfts" class="table table-hover mx-auto w-auto">
            <thead class="table-light">
                <tr>
                    <th scope="col"><p>ID</p></th>
                    <th scope="col" class="d-none d-sm-table-cell"><p>QR Code</p></th>
                    <th scope="col"><p>Name</p></th>
                    <th scope="col" class="d-none d-sm-table-cell"><p>Description</p></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="placeholder" style="background-color: whitesmoke;">
                    <td scope="row" colspan="100%" style="text-align: center;">
                        <em>no certified publications yet; <a href="/editor" target="_blank">compose</a>?</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'footer/index.html' %}
{% endblock %}
{% block scripts %}
<script src="/static/js/lib/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/js/lib/bootstrap/bootstrap-4.5.0.min.js"></script>
<script src="/static/js/lib/require/require-2.3.6.min.js" data-main="/static/js/app/app-nfts.js"></script>
{% endblock %}
{% endblock %}