/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html,
body {
    height: 100%;
    width: 100%;
}

/* ============================================================================
 * Content:
 * ========================================================================= */

#content {
    margin: 1em auto;
    max-width: 1240px;
    min-height: calc(100% - 144px);
}

table#nfts {
    min-width: 41%;
}

table#nfts p,
table#nfts em {
    font-family: Habibi, serif;
}

table#nfts p {
    display: block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table#nfts {
    tr.wallet-mm td {
        text-align: center;
    }
    tr.wallet-mm td .btn-group {
        width: 100%;
    }
    tr.wallet-mm td button.lhs {
        max-width: 54px;
    }
    tr.wallet-mm td button.rhs {
        max-width: 54px;
    }
    tr#wallet-network-wrong td button.lhs,
    tr#wallet-network-wrong td button.mid {
        pointer-events: all !important;
        cursor: not-allowed;
    }
}

/* ============================================================================
 * Popover dialogs:
 * ========================================================================= */

 .popover {
    .popover-header {
      text-align: center;
    }
    .popover-body {
      text-align: justify;
    }
  }

  /* ========================================================================= */
