/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html, body {
  height: 100%;
  width: 100%;
}

html, body {
  overflow-y: hidden;
}

/* ============================================================================
 * Header:
 * ========================================================================= */

.header {
  input.md-src, input.md-src-mob {
    display: none;
  }
  label.md-src, label.md-src-mob {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
  }
  label[for=md-src] {
    padding: 15px;
  }
  label[for=md-src]:not(:hover){
    color: #777;
  }
  margin-bottom: 0;
}

/* ============================================================================
 * Center:
 * ========================================================================= */

.center {
  height: calc(100% - 52px);
  .row {
    height: 100%;
    .lhs {
      height: 100%;
      padding: 0;
      div#md-wrap {
        float: left;
        height: 100%;
        max-width: 48px;
        overflow-y: hidden;
        position: relative;
        div#md-menu {
          padding: 4px 4px 0;
          .btn-group-vertical {
            margin-bottom: 4px;
          }
        }
        .iScrollVerticalScrollbar {
          left: 0 !important;;
          width: 4px !important;
          z-index: 999 !important;
        }
      }
      div.CodeMirror {
        width: calc(100% - 48px);
        height: 100%;
      }
      textarea#md-inp {
        display: none;
      }
    }
    .rhs {
      height: 100%;
      padding: 0;
      div#md-out, div#md-tmp {
        border-left: 4px double #e7e7e7;
        box-shadow: inset 0 0 8px #e7e7e7;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1em;
        position: absolute;
        width: 100%;
      }
      div#md-out, div#md-tmp {
        @media(max-width: 480px) {
          font-size: medium;
        }
        @media(min-width: 480px) {
          font-size: large;
        }
        font-family: "Linux Libertine", serif;
      }
      div#md-out pre, div#md-tmp pre {
        @media(max-width: 480px) {
          font-size: x-small;
        }
      }
      div#md-out p, div#md-tmp p {
        text-align: justify;
      }
      div#md-out .footnote-ref > a,
      div#md-tmp .footnote-ref > a {
        font-size: smaller;
      }
      div#md-out .mjx-math,
      div#md-tmp .mjx-math,
      div#md-out .mjx-char,
      div#md-tmp .mjx-char,
      div#md-out a,
      div#md-tmp a {
        color: navy;
      }
      div#md-out, div#md-tmp {
        table th {
            border-bottom: 2px solid gray;
        }
        table tr {
            border-bottom: 1px solid gray;
        }
        table th, table td {
            padding: 0.25em;
        }
      }
      div#md-out figure,
      div#md-tmp figure {
        margin: 1em 0;
        text-align: center;
      }
      div#md-out .header-anchor,
      div#md-tmp .header-anchor {
        opacity: 0.05;
      }
      div#md-out .header-anchor:hover,
      div#md-tmp .header-anchor:hover {
        opacity: 1.00;
      }
    }
  }
}

/* ============================================================================
 * Publish Dialog:
 * ========================================================================= */

#publish-dlg {
  .modal-header {
    .img-thumbnail {
      height: 25px;
      margin-right: 4px;
      padding: 2px;
    }
  }
  .modal-body {
    .post-settings.nav {
      margin-bottom: 1em;
    }
    .post-settings {
      #post-scripts, #post-styles {
        font-family: monospace;
        font-size: smaller;
        height: 13em;
        resize: vertical;
      }
    }
  }
}
