/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html, body {
  height: 100%;
  width: 100%;
}

html, body {
  overflow-y: hidden;
}

/* ============================================================================
 * Header:
 * ========================================================================= */

.header {
  input.source, input.source-mob {
    display: none;
  }
  label.source, label.source-mob {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
  }
  label[for=source] {
    padding: 15px;
  }
  label[for=source]:not(:hover){
    color: #777;
  }
  border-radius: 0;
  margin-bottom: 0;
}

/* ============================================================================
 * Center:
 * ========================================================================= */

.center {
  height: 100%;
  @media(max-width: 480px) {
    height: calc(100% - 52px);
  }
}
.center {
  .row {
    height: 100%;
    .lhs {
      height: 100%;
      padding: 0;
      div.toolbar-outer {
        display: none;
        float: left;
        height: calc(100% - 47px);
        max-width: 48px;
      }
      div.toolbar-inner:nth-of-type(1) {
        height: 100%;
      }
      div.toolbar-inner {
        overflow-y: hidden;
        position: relative;
        div.md-toolbar {
          padding: 4px 4px 0;
          .btn-group-vertical {
            margin-bottom: 4px;
          }
        }
        .iScrollVerticalScrollbar {
          left: 0 !important;;
          width: 4px !important;
          z-index: 999 !important;
        }
      }
      div.CodeMirror {
        span.cm-m-markdown.cm-spell-error:not(.cm-link):not(.cm-url) {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAAGElEQVQIW2NkgIL/DAxAxMDACGcA2SABAEwWBAGHorwgAAAAAElFTkSuQmCC);
          background-position: bottom;
          background-repeat: repeat-x;
        }
        span.CodeMirror-matchingbracket {
          color: #000000;
          font-weight: bolder;
          text-decoration: underline;
        }
        pre.CodeMirror-placeholder {
          color: #999999;
        }
        div.CodeMirror-activeline-background {
          background-color: #f7fbff;
        }
        box-shadow: inset 0 0 8px #e7e7e7;
        height: calc(100% - 47px);
        width: calc(100% - 48px);
      }
      textarea#input {
        border: none;
        box-shadow: inset 0 0 8px #e7e7e7;
        display: none;
        font-family: monospace;
        font-size: inherit;
        height: calc(100% - 47px);
        outline-width: 0;
        overflow-y: auto;
        padding: 1em 1em 0;
        resize: none;
        width: 100%;
      }
      div.footer {
        bottom: 0;
        border-top: 1px solid #e7e7e7;
        display: none;
        height: 47px;
        position: absolute;
        width: 100%;
        .btn-group {
          margin: 6px 4px;
        }
        #cli.input-group {
          float: right;
          margin: 6px 4px 6px 0;
          width: calc(100% - 53px);
          button#spell-checker-button {
            height: 34px;
            width: 42px;
            span.img-placeholder {
              background: no-repeat center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AkCCzgSlfo5igAAAiRJREFUOMudkj9LI1EUxX83M6MZsp1rttiUdmFBMGuVYusUAbdPu2AzxTSjOB8gFtHkM+wHEMyKhUUCacQ/OCghjcUWC0JcMQaLIZnkbpMZ4qKw7IEL7x3euedc3hXf9zmI1hVgwzwTILmvvBv1P4XBh5v0av/2eWEZ4Kt1LqqKiKCqpG7Sq/0c9w857h9u0qt3zNCtliu3zwtZgNvnheVutVzpVssVgCiKGI/HRFGE5LcOtVstfwHIbx22N8wziRPktP/7s/Vz+SBa1w3zTESE8XiMqsY+pGJhfuuwzRy61XLll2Tfz3Oq+qIAzPjxrNF3ESE+51KDIcDH1HAYpypNOxJFkQKYpikAa6qK7/sAa9vb2wBrs1qZ8Ssx5ziOPj4+6tPTk7quq+L7Pq/NJiJYlpXwk8mE0WikOzs7nJycoKr9IAiyJpA8mk6nxPEMw5C4YSz2PI9Wq4Vt23Q6nWy9Xi+Y8cwzF3Vdl+l0Sq1WU8uyZGagrutyenqKbdu0223q9XrB87zL1N/Rr6+vubq6wnEcwjDUMAzVcRyCICCdTtNqtdjf3y94nncJYMZiEWFvb68wmUwuSqUSvV6Pzc1NAHq9HrZtc3x8nDjHhkaxWEzci8XiXa1W+7G0tPQtn88zGAwYDocsLi5ydHREo9F4IU4WaR6e5102Go1Cs9kkk8mQyWRoNpuvipNFeq3J7u5uwTCMC+BN8b8gXqg3IfM/8D/4A1nMPcmZBpljAAAAAElFTkSuQmCC);
              padding: 6px;
            }
            img {
              display: none;
              margin-bottom: 2px;
            }
          }
          ul#spell-checker-menu {
            height: 307px;
            overflow: hidden;
            overflow-y: scroll;
            width: 260px;
            li {
              a {
                img {
                  float: right;
                  margin-top: 5px;
                }
                span.line1, span.country {
                }
                span.line2, span.language {
                  font-size: smaller;
                }
              }
            }
          }
        }
      }
    }
    .rhs {
      height: 100%;
      padding: 0;
      div#output, div#cached {
        border-left: 4px double #e7e7e7;
        box-shadow: inset 0 0 8px #e7e7e7;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1em;
        position: absolute;
        width: 100%;
      }
      div#output, div#cached {
        @media(max-width: 480px) {
          font-size: medium;
        }
        @media(min-width: 480px) {
          font-size: large;
        }
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      div#output pre, div#cached pre {
        @media(max-width: 480px) {
          font-size: x-small;
        }
      }
      div#output p, div#cached p {
        text-align: justify;
      }
      div#output .footnote-ref > a,
      div#cached .footnote-ref > a {
        font-size: smaller;
      }
      div#output .mjx-math,
      div#cached .mjx-math,
      div#output .mjx-char,
      div#cached .mjx-char,
      div#output a,
      div#cached a {
        color: navy;
      }
      div#output, div#cached {
        table th {
            border-bottom: 2px solid gray;
        }
        table tr {
            border-bottom: 1px solid gray;
        }
        table th, table td {
            padding: 0.25em;
        }
      }
      div#output figure,
      div#cached figure {
        margin: 1em 0;
        text-align: center;
      }
      div#output .header-anchor,
      div#cached .header-anchor {
        opacity: 0.05;
      }
      div#output .header-anchor:hover,
      div#cached .header-anchor:hover {
        opacity: 1.00;
      }
      div#output, div#cached {
        pre {
          border-bottom: 1px solid lightgray;
          border-left: none;
          border-right: none;
          border-top: 1px solid lightgray;
          border-radius: 0;
        }
        pre code {
          white-space: pre;
        }
      }
    }
  }
}

/* ============================================================================
 * Publish Dialog:
 * ========================================================================= */

#publish-dlg {
  .modal-header {
    .img-thumbnail {
      height: 25px;
      margin-right: 4px;
      padding: 2px;
    }
  }
  .modal-body {
    .post-settings.nav {
      margin-bottom: 1em;
    }
    .post-settings {
      #post-scripts, #post-styles {
        font-family: monospace;
        font-size: smaller;
        height: 13em;
        resize: vertical;
      }
    }
  }
}

/* ============================================================================
 * Spin animation:
 * ========================================================================= */

.spin {
    animation: spin 0.5s infinite linear;
}

@keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
}

span.spin {
  color: #ddd;
  font-size: 3em;
  left: calc(50% - 0.5em);
  position: absolute;
  top: calc(50% - 0.5em);
}

span.spin {
  text-shadow: 0 0 1em;
}

/* ========================================================================= */
