/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html,
body {
  height: 100%;
  width: 100%;
}

html,
body {
  overflow-y: hidden;
}

/* ============================================================================
 * Fonts and icons:
 * ========================================================================= */

 @import "./fonts.scss";
 @import "./glyphicons.scss";

/* ============================================================================
 * Spin animation:
 * ========================================================================= */

.spin {
  animation: spin 600ms infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* ============================================================================
 * Popover dialogs:
 * ========================================================================= */

.popover {
  .popover-body {
    text-align: justify;
  }
}

/* ========================================================================= */
