<div class="modal fade" id="template-dlg" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Select Document Template</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" data-url="/static/md/tpl-0-empty.md" class="list-group-item active">
                        <h4 class="list-group-item-heading">Empty Template</h4>
                        <!-- <p class="list-group-item-text">...</p> -->
                    </a>
                    <a href="#" data-url="/static/md/tpl-1-column.md" class="list-group-item">
                        <h4 class="list-group-item-heading">Single Column</h4>
                        <!-- <p class="list-group-item-text">...</p> -->
                    </a>
                    <a href="#" data-url="/static/md/tpl-2-column.md" class="list-group-item">
                        <h4 class="list-group-item-heading">Double Column</h4>
                        <!-- <p class="list-group-item-text">...</p> -->
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>
