/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html, body {
  height: 100%;
  width: 100%;
}

html, body {
  overflow-y: hidden;
}

/* ============================================================================
 * Header:
 * ========================================================================= */

.header {
  input.md-src, input.md-src-mob {
    display: none;
  }
  label.md-src, label.md-src-mob {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
  }
  label[for=md-src] {
    padding: 15px;
  }
  label[for=md-src]:not(:hover){
    color: #777;
  }
  margin-bottom: 0;
}

/* ============================================================================
 * Center:
 * ========================================================================= */

.center {
  height: calc(100% - 52px);
  .row {
    height: 100%;
    .lhs {
      height: 100%;
      padding: 0;
      textarea#md-inp {
        border: none;
        box-shadow: inset 0 0 8px #e7e7e7;
        height: calc(100% - 41px);
        overflow-y: auto;
        padding: 1em 1em 0;
        resize: none;
        width: 100%;
      }
      textarea#md-inp {
        font-family: monospace;
        font-size: large;
      }
      div.input-group {
        border-top: 1px solid #e7e7e7;
        padding: 3px;
      }
      div.input-group {
        -webkit-margin-before: -5px;
      }
    }
    .rhs {
      height: 100%;
      padding: 0;
      div#md-out, div#md-tmp {
        border-left: 4px double #e7e7e7;
        box-shadow: inset 0 0 8px #e7e7e7;
        height: 100%;
        overflow-y: auto;
        padding: 1em;
        width: 100%;
      }
      div#md-out, div#md-tmp {
        font-family: "Linux Libertine", serif;
        font-size: large;
      }
      div#md-out p, div#md-tmp p {
        text-align: justify;
      }
    }
  }
}

/* ============================================================================
 * Footer:
 * ========================================================================= */

/*.footer {
  border-top: 1px solid #e5e5e5;
  left: 0;
  padding: 0.75em 0;
  width: 100%;
}*/

/* ========================================================================= */
