/* ============================================================================
 * Body:
 * ========================================================================= */

html, body {
  height: 100%;
  width: 100%;
}

/* ============================================================================
 * Header:
 * ========================================================================= */

.header {
  margin-bottom: 0;
}

/* ============================================================================
 * Center:
 * ========================================================================= */

.center {
  background: url(../ico/favicon.png) center no-repeat;
  background-size: 25%;
  height: calc(100% - 52px - 42px);
  opacity: 0.1;
}

/* ============================================================================
 * Footer:
 * ========================================================================= */

.footer {
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  left: 0;
  padding: 0.75em 0;
  position: absolute;
  width: 100%;
}

/* ========================================================================= */
