.lhs-footer {
    .btn-group {
        margin: 4px 3px;
    }
    #cli {
        .input-group {
            #spell-checker-button.dropdown-toggle::after {
                display: none !important;
            }
            #spell-checker-button {
                height: 38px;
                width: 42px;
            }
            float: left;
            width: 100%;
        }
        float: right;
        margin: 4px 3px 4px 0;
        width: calc(100% - 51px);
    }
    bottom: 0;
    border-top: 1px solid #e7e7e7;
    display: none;
    height: 47px;
    position: absolute;
    width: 100%;
}
