#blog-tab {
    .post-settings.nav {
        margin-bottom: 1em;
    }
    .post-settings {
        #post-scripts,
        #post-styles {
            font-family: monospace;
            font-size: smaller;
            height: 13em;
            resize: vertical;
        }
    }
}
