<nav class="header navbar navbar-default">
    <div class="container-fluid hidden-xs hidden-sm">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Shuhadaku</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <label for="md-src">
                    <span class="glyphicon glyphicon-open"
                          aria-hidden="true"></span>&nbsp;Open
                </label>
                <input id="md-src" type="file">
            </li>
            <li><a href="#" id="save">
                <span class="glyphicon glyphicon-save"
                      aria-hidden="true"></span>&nbsp;Save</a></li>
            <li><a href="#" id="publish">
                <span class="glyphicon glyphicon-cloud-upload"
                      aria-hidden="true"></span>&nbsp;Publish</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">
                <span class="glyphicon glyphicon-user"
                      aria-hidden="true"></span>&nbsp;Sign In</a></li>
        </ul>
    </div>
    <div class="container-fluid hidden-md hidden-lg">
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-open"
                  aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-save"
                  aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-cloud-upload"
                  aria-hidden="true"></span>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn"
                style="width: calc(100% - 176px)">
            <span class="glyphicon glyphicon-transfer"
                  aria-hidden="true"></span>
        </button>
        <button type="button"
                class="btn btn-default navbar-btn  pull-right">
            <span class="glyphicon glyphicon-user"
                  aria-hidden="true"></span>
        </button>
    </div>
</nav>