<nav class="header navbar navbar-default">
    <div class="container-fluid hidden-xs hidden-sm">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Shuhadaku</a>
        </div>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-open" aria-hidden="true">
            </span>&nbsp;Open
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-save" aria-hidden="true">
            </span>&nbsp;Save
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true">
            </span>&nbsp;Publish
        </button>
        <button type="button" class="btn btn-default navbar-btn"
                style="float: right;">
            <span class="glyphicon glyphicon-user" aria-hidden="true">
            </span>&nbsp;Sign In
        </button>
    </div>
    <div class="container-fluid hidden-md hidden-lg">
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn"
                style="width: calc(100% - 176px)">
            <span class="glyphicon glyphicon-transfer"
                  aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default navbar-btn"
                style="float: right;">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
    </div>
</nav>