.center {
    @media (max-width: 767px) {
        height: calc(100% - 46px);
    }
    @media (min-width: 768px) {
        height: calc(100%);
    }
}
.center {
    .row {
        .lhs {
            height: 100%;
            padding: 0;
        }
        .lhs.without-footer {
            textarea#input {
                height: 100%;
            }
            .lhs-footer {
                display: block;
                width: 48px;
            }
        }
        .rhs {
            height: 100%;
            padding: 0;
        }
        .rhs.with-footer {
            iframe.viewer {
                height: calc(100% - 47px);
            }
            .rhs-footer {
                display: block;
            }
        }
        height: 100%;
    }
}
