<div class="center container-fluid">
    <style scoped>
        {% include 'components/mid-center/index.css' %}
    </style>
    <div class="row">
        <div class="lhs d-none d-md-block col-md-6 col-lg-6">
            {% include 'components/lhs-toolbar/index.html' %}
            {% include 'components/lhs-editor/index.html' %}
            {% include 'components/lhs-footer/index.html' %}
        </div>
        <div class="rhs col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% include 'components/rhs-viewer/index.html' %}
            {% include 'components/rhs-footer/index.html' %}
            {% include 'components/rhs-toolbar/index.html' %}
        </div>
    </div>
</div>
