.rhs-toolbar {
    .toolbar-outer:nth-of-type(1) {
        height: 100%;
    }
    .toolbar-outer {
        .toolbar-inner {
            .btn-group-vertical {
                margin-bottom: 4px;
            }
            padding: 3px 3px 0;
        }
        .iScrollVerticalScrollbar {
            .iScrollIndicator {
                background-color: #343a40 !important;
            }
            right: 0 !important;
            width: 4px !important;
            z-index: 999 !important;
        }
        overflow-y: hidden;
        position: relative;
    }
    display: none;
    float: right;
    height: calc(100% - 47px);
    max-width: 48px;
}
.rhs-toolbar.long {
    height: calc(100%);
}
