<div class="center container-fluid">
    <div class="row">
        <div class="lhs hidden-xs hidden-sm col-md-6 col-lg-6">
            {% include 'editor/0200-center/0211-lhs.toolbar.html' %}
            {% include 'editor/0200-center/0212-lhs.input.html' %}
            {% include 'editor/0200-center/0213-lhs.aibar.html' %}
            {% include 'editor/0200-center/0214-lhs.footer.html' %}
        </div>
        <div class="rhs col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% include 'editor/0200-center/0221-rhs.output.html' %}
        </div>
    </div>
</div>
