<div class="center container-fluid">
    <div class="row">
        <div class="lhs d-none d-md-block col-md-6 col-lg-6">
            {% include 'editor/0200-center/0211-lhs.toolbar.html' %}
            {% include 'editor/0200-center/0212-lhs.input.html' %}
            {% include 'components/lhs-footer/index.html' %}
        </div>
        <div class="rhs col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {% include 'editor/0200-center/0221-rhs.output.html' %}
            {% include 'editor/0200-center/0222-rhs.toolbar.html' %}
            {% include 'components/rhs-footer/index.html' %}
        </div>
    </div>
</div>
