<div class="lhs-footer">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                data-container="body" data-placement="right">
            <span class="glyphicon glyphicon-console"></span>
        </button>
    </div>
    <div id="my-console" class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <div class="input-group-btn dropup">
            <button id="spell-check-button" type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <img src=""><span class="img-placeholder">&nbsp;</span>
            </button>
            <ul id="spell-check-menu"
                class="dropdown-menu dropdown-menu-right">
                <span class="glyphicon glyphicon-cd spin"></span>
            </ul>
        </div>
    </div>
</div>
