<div class="toolbar-outer hidden-xs hidden-sm">
    <div class="toolbar-inner">
        <div class="md-toolbar">
            <div class="btn-group-vertical" role="group">
                <label name="open" for="source-bar"
                       class="btn btn-default source-bar"
                       data-container="body" data-toggle="tooltip"
                       data-placement="right" title="Open">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                    <input id="source-bar" type="file" style="display: none;"
                           accept=".md,application/markdown">
                </label>
                <a name="save" href="#"
                   class="btn btn-default"
                   data-container="body" data-toggle="tooltip"
                   data-placement="right" title="Save"
                   >
                   <span class="glyphicon glyphicon-floppy-save"></span>
                </a>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Undo">
                    <span class="glyphicon glyphicon-repeat undo"
                          style="transform: scale(-1,1);"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Redo">
                    <span class="glyphicon glyphicon-repeat redo"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Cut">
                    <span class="glyphicon glyphicon-scissors"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Copy">
                    <span class="glyphicon glyphicon-copy"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Paste">
                    <span class="glyphicon glyphicon-paste"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Delete">
                    <span class="glyphicon glyphicon-erase"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Header">
                    <span class="glyphicon glyphicon-header"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Bold">
                    <span class="glyphicon glyphicon-bold"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Italic">
                    <span class="glyphicon glyphicon-italic"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Code">
                    <span class="glyphicon glyphicon-font"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Link [CTRL, SHIFT]">
                    <span class="glyphicon glyphicon-link"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Image [CTRL, SHIFT]">
                    <span class="glyphicon glyphicon-picture"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Video [CTRL, SHIFT]">
                    <span class="glyphicon glyphicon-film"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Indent">
                    <span class="glyphicon glyphicon-indent-left"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Outdent">
                    <span class="glyphicon glyphicon-indent-right"></span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Sum [CTRL]"
                        style="height: 34px; width: 40px;">
                    <span class="glyphicon sum"
                          style="font-size: large; font-weight: bold; top: -2px;">&Sigma;</span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Product [CTRL]"
                        style="height: 34px; width: 40px;">
                    <span class="glyphicon product"
                          style="font-size: large; font-weight: bold; top: -2px;">&Pi;</span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Superscript">
                    <span class="glyphicon glyphicon-superscript"></span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="right" title="Subscript">
                    <span class="glyphicon glyphicon-subscript"></span>
                </button>
            </div>
        </div>
    </div>
</div>
