<div class="toolbar-outer hidden-xs hidden-sm">
    <div class="toolbar-inner">
        <div class="md-toolbar">
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Refresh">
                    <span class="glyphicon glyphicon-refresh refresh">
                    </span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Publish">
                    <span class="glyphicon glyphicon-cloud-upload publish">
                    </span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Print">
                    <span class="glyphicon glyphicon-print print">
                    </span>
                </button>
            </div>
            <div class="btn-group-vertical" role="group">
                <!--
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Templates">
                    <span class="glyphicon glyphicon-menu-hamburger template">
                    </span>
                </button>
                -->
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Single Column"
                        style="height: 34px; width: 40px;">
                    <span class="glyphicon 1-column"
                          style="font-size: large; font-weight: bold; top: -2px;">1</span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Double Column"
                        style="height: 34px; width: 40px;">
                    <span class="glyphicon 2-column"
                          style="font-size: large; font-weight: bold; top: -2px;">2</span>
                </button>
                <button type="button" class="btn btn-default"
                        data-container="body" data-toggle="tooltip"
                        data-placement="left" title="Triple Column"
                        style="height: 34px; width: 40px;">
                    <span class="glyphicon 3-column"
                          style="font-size: large; font-weight: bold; top: -2px;">3</span>
                </button>
            </div>
            <!-- <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-left"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-center"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-right"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div> -->
            <!-- <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-default"
                        data-container="body" data-placement="right">
                    <span class="glyphicon glyphicon-flash code-mirror"
                          style="transform: scale(-1,1);"></span>
                </button>
            </div> -->
        </div>
    </div>
</div>
