<div class="aibar">
    <style scoped>
        div.aibar {
            display: none;
            position: absolute;
        }
        div.aibar {
            background-color: white;
        }
        div.aibar {
            border-left: 4px double #e7e7e7;
            border-top: 1px solid #e7e7e7;
        }
        div.aibar {
            bottom: 0;
            height: 47px;
            left: 0;
            width: 100%;
        }
        div.aibar {
            margin: 0;
            padding: 6px;
        }
        div.aibar {
            text-align: center;
        }
    </style>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <button type="button" class="ai-lhs btn btn-default"
                    data-container="body" data-toggle="tooltip"
                    data-placement="top" title="Previous Page">
                ⪡
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="ai-mid btn btn-default">
                Help
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="ai-rhs btn btn-default"
                    data-container="body" data-toggle="tooltip"
                    data-placement="top" title="Next Page">
                ⪢
            </button>
        </div>
    </div>
</div>