/* ============================================================================
 * HTML, Body:
 * ========================================================================= */

html,
body {
    height: 100%;
    width: 100%;
}

/* ============================================================================
 * Content:
 * ========================================================================= */

 #content {
    font-family: Habibi, serif;
    margin: 1em auto;
    max-width: 1240px;
    min-height: calc(100% - 144px);
}

table#blogs p {
    display: block;
    margin: 0;
    max-width: 16em;;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ========================================================================= */
