<div class="rhs-footer">
    <style scoped>{% include 'components/rhs-footer/index.css' %}</style>
    <div class="btn-group d-flex" role="group">
        <div class="btn-group w-100" role="group">
            <button type="button" class="rhs-footer-1st btn btn-outline-dark"
                    data-container="body" data-toggle="tooltip"
                    data-placement="top" title="Previous Page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </div>
        <div class="btn-group w-100" role="group">
            <button type="button" class="rhs-footer-2nd btn btn-outline-dark">
                Help
            </button>
        </div>
        <div class="btn-group w-100" role="group">
            <button type="button" class="rhs-footer-3rd btn btn-outline-dark"
                    data-container="body" data-toggle="tooltip"
                    data-placement="top" title="Next Page">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
