.rhs-footer {
    display: none;
    position: absolute;
}
.rhs-footer {
    background-color: white;
}
.rhs-footer {
    border-left: 4px double #e7e7e7;
    border-top: 1px solid #e7e7e7;
}
.rhs-footer {
    bottom: 0;
    height: 47px;
    left: 0;
    width: 100%;
}
.rhs-footer {
    margin: 0;
    padding: 4px 3px;
}
.rhs-footer {
    text-align: center;
}
